/* @media screen and (max-width: 1024px) {
 #header .header-content {
 width: 90%;
} */
.nav-toggle {
	display: block;
   }
	.navigation {
	position: fixed;
	background-color: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
   }
	.navigation .primary-nav {
	position: relative;
	top: 45%;
	-moz-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	-webkit-transform: translateY(-45%);
	transform: translateY(-45%);
   }
	.navigation li {
	display: block;
	margin-bottom: 20px;
   }
	.navigation a {
	display: block;
	font-size: 14px;
	margin: 0;
	text-align: center;
   }
	.overview-video iframe {
	width:290px;
	height:163px;
   }
	.flex-control-nav {
	bottom: 20px;
   }
   
   @media screen and (max-width: 768px) {
	#banner {
	text-align:center;
   }
	.banner-text {
	padding-top: 30%;
   }
	.banner-text h1 {
	margin-top:70px;
	font-size: 33px;
	line-height:36px;
   }
	.banner-text p {
	font-size: 18px;
   }
   .banner-img {
   margin:auto;
   }
	.banner-btn a {
	margin-bottom: 100px;
   }
   #overview {
   text-align:center;
   }
   .overview-content p {
   padding-right:0px;
   }
   #features {
   text-align:center;
   }
   .features1-content {
	margin-top: 5%;
   }
   .left {
	text-align:center;
   }
   .middle {
	padding-left:0px;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
   }
   .features2-content {
	margin-top:0px;
   }
   .features3 img {
	padding-left:0px;
   }

   .last h3{
	font-size: 20px;
   }
   .last img{
	width: 150px;
   }
.promotion a{
	margin-bottom: 5%;
}

   .footer #info{
	font-size: 13px;
	line-height: 16px;
	line-height:  1.2em;

   }
   .footer a img{
	width: 30px;
	margin-right: 10px;
}
.footer .footer-share {
	display: flex; /* Flexbox를 사용하여 내부 요소를 정렬 */
	justify-content: left; /* 내부 요소를 왼쪽으로 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
  }

   }
   @media screen and (max-width: 767px) {
	body{
		overflow-x: hidden;
	}
	   #header .header-content {
		 font-size: 16px;
		 flex-direction: column; 
		 justify-content: center;
		 align-items: center;
		 text-align: center;
	   }
	   #header{
		position: fixed;
    z-index: 999;
	box-sizing: border-box;

	   }
	   #header h1{
		margin-left: 15px;
		font-size: 35px;
	   }

	   #circle {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		text-align: center;
		margin: 0 auto;
		padding: 0;	 
	 }
	
	  #circle li {
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		flex-direction: column; /* 수정 */
		flex: 0 0 50%;
		max-width: 50%;
	  }

	  .circle img{
		width: 60px;
		height: 60px;
	  }
	
	  .text {
		font-size: 18px;
		letter-spacing :-0.7px;
		margin-bottom: 15px;
	  }

	  
	  .circle {
		width: 100px;
		height: 100px;
		border: 4px solid white;
		border-radius: 50%;
		background-color: transparent;
		justify-content: center;
		display: flex;
		margin: 0 auto; /* 추가 */
		align-items: center;
		text-align: center;
		margin-bottom: 10px;
	  }
	  
	  .circle img {
		max-width: 100%;
		max-height: 100%;
	  }


	 }
   @media screen and (max-width: 767px) {
   .banner{
	   height:500px;
   }
   .banner #banner{
	   padding-top: 18%;
	   display: flex;
	   align-items: center;
	   justify-content: center;
   }
	.banner-text h1 {
	font-size: 33px;
	line-height:36px;
	margin-top: 25px;
	margin-bottom: 30px;
   }
   #btxt{
	font-size: 35px;
   }
   .company h1{
	font-size: 40px;
}
.company h3{
	font-size: 18px;
}
	.banner-btn a {
	margin-bottom: 70px;
   }
   
   .footer a {
	font-size:14px;
   }
   .footer .footer-share {
	display: flex;
	justify-content: flex-start; /* Change from 'left' to 'flex-start' */
	align-items: center;
  }
  
   .footer .footer-share li {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 7px 0;
	margin: 0 5px;
   }
   }
   @media screen and (max-width: 480px) {
	#banner {
	text-align:center;
   }
	.banner-text {
	padding-top: 45%;
   }
	.banner-text h1 {
	/* margin-top:100px; */
	font-size: 32px;
	line-height:36px;
   }
	.banner-btn a {
	margin-bottom: 15px;
   }
   }
   @media screen and (max-width: 320px) {
	.banner-text {
	padding-top: 55%;
   }
   .subscribe-form input[type=text] {
   width:65%;
   }
   .subscribe-form input[type=submit] {
	width: 35%;
   }
   }
   
   @media screen and (max-width: 767px) {

	.load-more-btn{
		background-color: #424A55;
		border: 1px #000;
		color: #fff;
		font-size: 13px;
		border-radius:99px;
		display: inline-block;
		margin: 0;
		outline: none;
		padding: 13px 23px;
		position: relative;
		text-align: center;
		width: auto;
	}
	.swiper-slide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		transition: opacity 1.5s;
		width: 150%; /* 슬라이드의 너비를 100%로 설정 */
	  }

	.swiper {
		height: 350px;
	  }
	  .swiper .caption{
		font-size: 12px;
	  }
  
	.service .pic{
		width: 60%;
		height: 60%;
	}
	.service img{
		width: 50%;
		height: 50%;
	}
   	   h2{
		   font-size: 30px;
	   }
	   h3{
		   font-size:25px;
	   }
	   /* Banner */
	   .banner-text {
		 padding-top: 20%;
		 text-align: center;
		 margin-bottom: 40px;
	   }
	   /* Owl Carousel */
   	   .item{
		   width: 33.33%;
		   height: 550px;
	   }
   
		 .promotion div {
		   flex-direction: column;
		   align-items:center;
		   /* margin-top: 20px; */
		 }
   
		 .promotion img {
		   margin-top: 5px;
		   width: 100px;
		 }
		 .promotion h3{
			text-align: center;
		 }
	   .footer {
		   padding-top: 10%;
		   padding-bottom: 10%;
		   padding-left: 5%;
		   padding-right: 5%;

	   
	   }
	   
	   .footer a {
		 text-align: center;
	   }
	   
	 
	   
	   .footer .footer-share li {
		 margin: 5px;
	   }
   
	   .dynamic{
		padding: 5%;
		margin-bottom: 10%;
	   }
			   .dynamic h1 {
				 font-size: 35px;
				 margin-bottom: 10%;
		   }
		   .dynamic .row{
			margin-bottom: 3%;
		   }
			   .dynamic p {
				 font-size: 16px;
				 text-align: center;
			   }
			   .book {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;		
			   }
			   .book div {
				width: 45%; /* 이미지가 한 줄에 2개씩 보이도록 설정 */
				margin: 2.5%; /* 이미지 사이에 간격 설정 */
			 
				display: block; /* 추가: 내부 컨테이너 안에도 flex로 설정 */
				justify-content: center;		

				align-items: center; /* 추가: 텍스트를 수직 가운데 정렬 */
				text-align: center; /* 추가: 텍스트를 수평 가운데 정렬 */}			  
			   .book img {
				 width: 100%;
			   }
			   .book .text{
				width: 100%;

				font-size: 13px;
				display: inline-block; 
				justify-content: center;
				align-items: center;
				text-align: center;
			   }
			   .hidden{
				display: none;
			   }

			  .sh{
				font-size: 15px;
			  }
			  .le{
				font-size: 12px;
			  }
			  .btn{
				height: 22px;
				font-size: 8px;
			  }
			  .best-img-wrapper {
				position: absolute;
				top:0px;
				right: 5%;
				width:20%;
			  }
			  .swiper-pagination {
				margin-top: 20px;
		
		   }
		}
   